- provide(:title, t('about'))
= render 'layouts/pie_header'
.c_customer.afclr
  .wrapper
    .re_main.afclr
      .ab_head.afclr
        %h1= t('what_is')
      .in_iner_pag.afclr
        %center
          = image_tag 'M1Finance.png', :style => 'width:200px'
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = image_tag 'plus.png', :style => 'width:100px'
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = image_tag 'eToro.png', :style => 'width:200px'
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = image_tag 'plus.png', :style => 'width:100px'
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = image_tag 'PieDAO.jpeg', :style => 'width:200px'
          %br
          %br
          = image_tag 'equals.gif', :style => 'width:100px'
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          = image_tag 'MyDefiPieLogo.png', :style => 'width:300px'
