- provide(:title, t('pies'))
= render 'layouts/pie_header'
= javascript_include_tag "https://code.highcharts.com/highcharts.js"
= javascript_include_tag "https://code.highcharts.com/modules/data.js"
= javascript_include_tag "https://code.highcharts.com/modules/drilldown.js"

.c_customer.afclr
  .wrapper
    .re_main.afclr
      .in_iner_pag.afclr
        %figure.highcharts-figure
          #my_pie
            %p.highcharts-description
              Pie chart where the individual slices can be clicked to expose more detailed data
        %br
        %center= link_to t('edit_pie'), edit_py_path(1), :class => 'btn btn-primary'
:javascript
  $(document).ready(function(e) {
     Highcharts.chart('my_pie', #{@chart_data})
  });
