- provide(:title, t('pies'))
= render 'layouts/pie_header'
= javascript_include_tag "https://code.highcharts.com/highcharts.js"
= javascript_include_tag "https://code.highcharts.com/modules/data.js"
= javascript_include_tag "https://code.highcharts.com/modules/drilldown.js"
= javascript_include_tag "https://code.highcharts.com/modules/exporting.js"
= javascript_include_tag "https://code.highcharts.com/modules/export-data.js"
= javascript_include_tag "https://code.highcharts.com/modules/accessibility.js"

.c_customer.afclr
  .wrapper
    .re_main.afclr
      .ab_head.afclr
        %h1= t('pies')
      .in_iner_pag.afclr
        %figure.highcharts-figure
          #my_pie
            %p.highcharts-description
              Pie chart where the individual slices can be clicked to expose more detailed data
        %p= link_to 'Edit my Allocation', edit_py_path(1)
:javascript
  $(document).ready(function(e) {
     Highcharts.chart('my_pie', #{@chart_data})
  });
