- provide(:title, t('settings'))
= render 'layouts/pie_header'
.c_customer.afclr
  .wrapper
    .re_main.afclr
      .ab_head.afclr
        %h1= t('settings_title')
      .in_iner_pag.afclr{:style => 'width:50%; margin-left:300px'}
        %p
          %strong ESG Settings
          %input#proportions{:type => 'text', :readonly => 'true'}
          #slider-range
        %p         
          %strong Crypto Focus
          %br
          - Setting::CATEGORIES.each do |category|
            = radio_button_tag 'focus', category, category == @setting.focus
            == #{category} (
            - Setting.crypto_currency_range.each do |idx|
              = image_tag "#{Setting.crypto_currency_name(idx, category)}.png", :class => 'setting_img', :title => "#{Setting.crypto_currency_name(idx, category)}"
            )
            %br
        %p
          %strong Stablecoins
          %em (choose 3)
          %br
          - idx = 0
          - Setting::STABLE_COINS.each do |coin|
            = check_box_tag coin, '1', @setting.stablecoin_selected?(coin)
            = label_tag coin, coin.upcase
            - idx += 1
            - if 0 == idx % 3
              %br
        = link_to 'Update Crypto/Stablecoins', '#', :class => 'btn btn-primary', :onclick => 'update_settings();'
:javascript
  $(document).ready(function(e) {
    $("#slider-risk").slider({
        min: 0,
        max: 100,
        value: 40
    });

    $("#slider-growth").slider({
        min: 0,
        max: 100,
        value: 80
    });
    
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 100,
      values: [#{@setting.e_priority}, 100 - #{@setting.g_priority}],
      slide: function(event, ui) {
        var e = ui.values[0];
        var g = 100 - ui.values[1];
        var s = 100 - e - g;
        
        $("#proportions" ).val("E " + e + "%         S " + s + "%         G " + g + "%");
        var data = {'setting': {'e_priority': e, 's_priority': s, 'g_priority': g }};

        jQuery.ajax({url:'/settings/#{@setting.id}.js',
                     data: data,
                     type: "PUT",
                     error: function() { alert('Oh noes!'); }, 
                     async: false}); 
      }
    });
    $("#proportions").val("E #{@setting.e_priority}%         S #{@setting.s_priority}%         G #{@setting.g_priority}%");
  });
