%table.table.striped-table{:style => 'width:20%'}
  %caption== #{t('target')} #{number_to_currency(investment)} 
  %br
  %tr
    %th= t('spend')
    %th= t('token')
    %th= t('balance')
  - coins.keys.each do |coin|
    %tr
      %td
        = check_box_tag "spend_#{coin}", '1', coins_to_use.nil? ? true : coins_to_use.include?(coin)
      %td= coin
      %td{:id => "entry_#{coin}"}= number_with_delimiter(coins[coin])
      = hidden_field_tag "balance_#{coin}", number_with_delimiter(coins[coin]), :id => "balance_#{coin}"   
