%table.table.striped-table
  %tr
    %th %
    %th Coin
    %th Amount
  - @pool_config.each do |pc|
    %tr
      %td{:title => pc[:denorm]}= pc[:weight]
      %td= pc[:coin]
      %td= number_with_delimiter(pc[:amount].round(2))
%hr
- if @pool.bp_address.nil?
  = link_to 'Create Balancer', '#', :class => 'btn btn-primary', :onclick => 'alert("Creating!");'
- else
  = link_to 'Balancer Created', '#',:style => 'pointer-events: none;', :title => "Contract address: #{@pool.bp_address}", :class => 'btn btn-primary', :disabled => true
  %br
  %br
  %p
    = link_to 'Click here', @pool.balancer_url, :target => '_blank'
    to see it live!
