- if @pool.bp_address.nil? and @pool.uma_address.nil?
  %h4 Nothing to see here
  %p You have not created a Balancer yet!
- else
  .row
    .col-md-7
      %br
      - if @pool.uma_address.nil?
        %p No Synthetic
      - else
        %p== Collateralization:
        .progress.progress-bar-animated{:style => 'margin-top:10px'}
          .progress-bar.progress-bar-striped{:class => "#{@progress_class}", :style => "width:100%", :role => "progressbar"}
            == #{@collateralization.round}%
        %br 
        %table.table.striped-table
          %caption== UMA Synthetic (#{@pie.uma_token_name}): #{number_to_currency(@synthetic[:investment])}
          %tr
            %th Equity
            %th Basis
            %th Shares
            %th Price
            %th Performance
          - @synthetic[:slices].keys.each do |key|
            - data = @synthetic[:slices][key]
            %tr
              %td= key
              %td= number_to_currency(data[:basis].round(2))
              %td= number_with_delimiter(data[:shares].round)
              %td= number_to_currency(data[:price].round(2))
              %td{:style => "color:#{data[:performance] < 0 ? 'red' : 'green'}"}== #{data[:performance].round(2)}%
          %tr
            %td Total
            %td
            %td
            %td
            %td= number_to_currency(@total_value.round(2))
        = label_tag :amount
        = number_field_tag :amount, :min => 0
        %br= link_to 'Deposit Collateral', '#', :class => 'btn btn-primary', :onclick => 'alert("Deposit!");'
        %br= link_to 'Withdraw Collateral', '#', :class => 'btn btn-primary', :onclick => 'alert("Withdraw!");'
        %br= link_to 'Redeem Tokens', '#', :title => 'After expiration', :class => 'btn btn-primary', :onclick => 'alert("Redeem!");', :style => 'pointer-events: none;'
    .vl{:style => 'float:left'}
    .col-md-4
      %div{:style => 'float:right, display:inline-block'}
        - if @pool.bp_address.nil?
          %p You have not created a Balancer yet
        - else
          %table.table.striped-table
            %caption Balancer Weights
            %tr
              %th %
              %th Coin
              %th Amount
            - @pool_config.each do |pc|
              %tr
                %td{:title => "Denorm: #{pc[:denorm]}"}
                  = number_field_tag "weight_#{pc[:coin]}", pc[:weight], :min => 2, :max => 98, :class => 'short_input balancer_input', :onchange => "update_weights();"
                %td= pc[:coin]
                %td= number_with_delimiter(pc[:amount].round(2))
          #balancer_total
            Total: 100%
          %hr
          = link_to 'Adjust Weights', '#', :id => 'adjust_weights', :class => 'btn btn-primary', :onclick => 'alert("Adjusting!");'
