- if 0 == @pie.pct_equities
  %h4 Nothing to see here
  %p With no allocation to equities, you do not need a synthetic
- else
  %h4== Allocation: #{@pie.pct_equities}% Equities
  %strong Collateral:
  = @pie.uma_collateral
  %br
  %strong Symbol:
  == #{@pie.uma_token_symbol} (#{@pie.uma_token_name})
  %br
  %strong Expiring:
  = @expiry_date_str
  %p== 
  %hr
  %ul.sublist
  %strong Constituents
  - @pie.etfs.each do |etf|
    %li= etf.display_name
  - @pie.stocks.each do |stock|
    %li= stock.display_name
%hr
- if !@pool.uma_address.nil?
  = link_to 'Create Synthetic', '#', :title => 'Does this work?', :class => 'btn btn-primary', :onclick => "blockchain_call_uma();"
- else
  = link_to 'Synthetic Created', '#', :style => 'pointer-events: none;', :title => "Contract address: #{@pool.uma_address}", :class => 'btn btn-primary'
  %br
  %br
  %p== Contract address: #{@pool.uma_address}
:javascript
  function blockchain_call_uma() {
    var empCreator = $('#emp_creator').val();
    var collateral = $('#uma_collateral').val();
    var expiry = $('#uma_expiry').val();
    
    create_synthetic(empCreator, collateral, expiry);
  }
